@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  color: white;
  font-weight: 500;
  display: flex;
  min-width: 50vh;
  justify-content: center;
}

#home-element{
  display: flex;
  direction: initial;
}
/* Rectangle 1 */

div.rectangle{
  position: absolute;
  width: 358.46px;
  height: 582.89px;
  left: -38.86px;
  top: -51.47px;
  background: #A750AD;
  border-radius: 58px;
  transform: rotate(0.38deg);
  margin-bottom: 5rem
}

.rectangle-text{
  
  width: 257px;
  height: 258px;
  left: 30px;
  top: 210px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
}

div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img{
  width: 60%;
  position: relative;
  right: 20%;
}

p{
  color: #82008f;
  width: 80%;
  display: flex;
  align-items: center;
}


form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  width: 300px;
  height: 50px;
  padding: 0 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  outline: none;
  color: black;
  font-size: 1rem;
  border: 2px solid #9C80BE;
  border-radius: 8px;
}

.button {
  background:#82008f;
  cursor: pointer;
  width: 10rem;
  height: 5rem;
  color:white;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.button:hover{
  background: violet;
}

#input{
  position: absolute;
  width: 270px;
  height: 29px;
  left: 346px;
  top: 274px;
  background: #FFFFFF;
  border: 2px solid #9C80BE;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
}
#submit {
  position: absolute;
  width: 114px;
  height: 30px;
  left: 630px;
  top: 273px;
  background: #43236A;
  border-radius: 3px;
}

#results{
  position: absolute;
  width: 270px;
  height: 29px;
  left: 346px;
  top: 314px;
  background: #FFFFFF;
  border: 2px solid #9C80BE;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
}

/* Carousel */

#items-wrapper{
  width: 90vw;
}

#items{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-item{
  border-radius: 10px;
  background-color: #A750AD;
  width: 100%;
  height: 600px;
  padding: 60px;
}


.button-energy button{
  background-color: #FFFFFF;
  border: solid 1px #9C80BE;
}

.depoiments {
  color: white;

}