@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-weight: 350;
  display: flex;
  justify-content: center;
}

main .home-element {
  box-sizing: border-box;
  display: block;
  align-items: center;
  flex-wrap: wrap;
}
/* Rectangle 1 */

div.rectangle {
  position: absolute;
  width: 358.46px;
  height: 582.89px;
  left: -38.86px;
  top: -51.47px;
  background: #A750AD;
  border-radius: 58px;
  transform: rotate(0.38deg);
  margin-bottom: 5rem
}

.rectangle-text {
  width: 257px;
  height: 258px;
  left: 30px;
  top: 210px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
}

div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-logo {
  height: 200px;
  width: 200px;
}

.form {
  color: #82008f;
  width: 80%;
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  width: 300px;
  height: 50px;
  padding: 0 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  outline: none;
  color: black;
  font-size: 1rem;
  border: 2px solid #9C80BE;
  border-radius: 8px;
}

.button {
  background:#82008f;
  cursor: pointer;
  width: 10rem;
  height: 5rem;
  color:white;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.button, #botton-listener{
  background:#82008f;
  cursor: pointer;
  width: 10rem;
  color:white;
  border-radius: 0.5rem;
}

#botton-listener {
  height: 3rem;
  font-size: 1.2rem;
}

.button:hover {
  background: violet;
}

#input {
  width: 270px;
  height: 29px;
  left: 346px;
  top: 274px;
  background: #FFFFFF;
  border: 2px solid #9C80BE;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
}

#submit {
  width: 114px;
  height: 30px;
  left: 630px;
  top: 273px;
  background: #43236A;
  border-radius: 3px;
  color: white;
  margin: 15px;
}

#results {
  width: 270px;
  height: 29px;
  left: 346px;
  top: 314px;
  background: #FFFFFF;
  border: 2px solid #9C80BE;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
}

.about-air {
  color: black;
  font-weight: lighter;
}

.pelicula {
  background-color: #A750AD;
  border-radius: 10px;
}

.container-explication {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  padding-top: 720px;
  padding-left: 40px;
}

.explication {
  background-color: #A750AD;
  object-fit: cover;
  border-radius: 50px 5px 5px 5px;
}

.graphic img {
  max-width:350px;
  max-height:250px;
  width: auto;
  height: auto;
}

.title {
  margin: 15px;
  color: #43236A;
}

/* h5 {
  margin-left: 10px;
} */

#why-raizen{
  margin-left: 15px;
}

/* Carousel */

#items-wrapper {
  width: 90vw;
}

#items {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-item {
  border-radius: 10px;
  background-color: #A750AD;
  width: 100%;
  height: 600px;
  padding: 60px;
}

.container{
  width: 100%;
  margin-top: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button-energy{
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button-energy button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 120px;
  height: 120px;
  margin: 10px;
}

.btn btn-outline-primary{
  color: #43236A;
  width: 300px;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
}

.icon-button{
  width: 60px;
  border-radius: 50px;
  background-color: transparent;
}

.icon-info{
  width: 120px;
  padding: 10px;
  align-self: center;
  background-color: transparent; 
}

.benefits{
  color: #43236A;
  font-size: 18px;
  padding-top: 10px;
}

.depoiments, .energy {
  color: white;
}

.energy {
  padding: 15px;
}

.text {
  padding: 20px;
}
p{
  padding-left:  15px;
  padding-right: 15px;
  margin: 0;
}

ul{
  padding: 10px;
}

.button-form{
  padding-top: 20px;
  padding-bottom: 20px;
}


.clapping-text{
  width: 40vh;
  padding: 0.5rem;
  color:black
}

#button-back{
  color: #43236A;
  margin-top: 10px;
}